.nav-item-left {
  transform: scale(1);
  transform-origin: left center;
}

.nav-item-right {
  transform: scale(1);
  transform-origin: right center;
}

.nav-container {
  background-color: #fea;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto;
  height: 40px;
  padding: 4px 0px 0px 0px;
}
