    .nav-interior {
      background-color: #fff;
      display: grid;
      grid-template-columns: 1fr 30px;
      height:30px;
      padding: 4px 0 0 0;
    }

    .nav-item-left {
      transform: scale(1);
      transform-origin: left center;
    }

    .nav-item-right {
      transform: scale(1);
      transform-origin: right center;
      text-align: right;
    }

    .nav-item-left img[alt="Home"],
    .nav-item-right img[alt="Menu"] {
      height: 80%;
      position: relative;
      top: -1px;
    }



